body
{
  color:rgb(221,221,221);
  background-image:url('img/bg_eyes.png');
  margin:0px;
  padding:0px;
  text-align:center;
  font-size:20px;
}

canvas 
{ 
  border:2px solid rgb(15,15,15); 
  margin:1%;
}

.box
{
  background-color:rgb(15,15,15);
  margin:10%;
  padding:5%;
  text-align:left;
  line-height:130%;
}